
body {
    font-family: 'Arial', sans-serif;
    background-color: #eceff1; 
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-screen {
    background-color: white;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    width: 350px;
}

.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-form input[type="text"],
.login-form input[type="password"] {
    width: 100%;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #cfd8dc;
    box-sizing: border-box;
}

.login-form button {
    width: 100%;
    padding: 15px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    background-color: #1ec800;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-weight: bold;
}

.login-form button:hover {
    background-color: #16a600; 
}

.login-form h2 {
    color: #333;
    margin-bottom: 20px;
}

@media screen and (max-width: 600px) {
    .login-screen {
        width: 90%;
        padding: 20px;
    }

    .login-form input[type="text"],
    .login-form input[type="password"],
    .login-form button {
        padding: 10px;
    }

    .login-form {
        flex-direction: column;
    }

    body {
        font-size: 16px;
    }

    .login-form h2 {
        font-size: 20px; 
    }

    .login-logo {
        width: 150px; 
        height: auto;
    }
}
