body {
    font-family: Arial, sans-serif;
    background-color: #eceff1;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1, h2 {
    margin-top: 20px;
    font-size: 24px;
}

#reviews {
    margin-top: 20px;
}

#reviewForm {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

textarea, input[type="number"] {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

button {
    padding: 10px 20px;
    background-color: #1ec800;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 10px;
}

button:hover {
    background-color: #16a600;
}

.star-rating .fa-star {
    color: #8f8d8d;
    cursor: pointer;
  }
  .star-rating .fa-star.checked {
    color: #ffc107; 
  }