.header {
    font-family: 'Nanum Gothic', sans-serif;
    display: flex;
    align-items: center;
  }
  
  #placesName {
    font-family: 'Nanum Gothic', sans-serif;
    position: relative;
    top: -30px;
  }
  
  .average-rating {
    font-family: 'Nanum Gothic', sans-serif;
    font-weight: bold;
    position: relative;
    top: -30px;
    margin-left: 10px; /* 수정: 필요에 따라 마진을 조정하여 간격을 설정할 수 있습니다. */
  }
  

.review-button-position {
    font-family: 'Nanum Gothic', sans-serif;
    position: absolute;
    font-size: 14px;
    padding: 1px 1px;
    top: 3px;
    right: 20px;
    background-color: transparent;
    color: blue;
}

body {
    font-family: 'Nanum Gothic', sans-serif;
    background-color: #eceff1;
    margin: 20px;
    padding: 1px 1px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}


.average-rating .fas {
    color: #ec0a0a;
    font-size: 15px;
    margin-left: 10px;
}

.average-rating #averageRating {
    font-size: 15px;
    margin-left: 5px;
}

h1,
h2 {
    margin-top: 20px;
    font-size: 24px;
}

#reviews {
    margin-top: 20px;
}

#reviewForm {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#reviewText {
    text-align: center;
}


textarea,
input[type="number"] {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

button {

    padding: 10px 20px;
    background-color: #1ec800;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 10px;
}

.star-rating .fa-regular.fa-star {
    color: #8f8d8d;
    font-size: 25px;
    margin-right: -5px;
    cursor: pointer;
}

.star-rating .fa-solid.fa-star {
    color: #f10f0f;
    font-size: 25px;
    margin-right: -5px;
    cursor: pointer;
}

.rating-button {
    font-family: 'Nanum Gothic', sans-serif;
    font-weight: bold;
    padding: 5px 10px;
    height: auto;
    background-color: #ccc;
    border: 1px;
    cursor: pointer;
}

.rating-button.selected {
    background-color: #007bff;
    color: white;
}

.hidden {
    visibility: hidden;
    opacity: 0;
    transform: translateY(100%);
    transition: visibility 0s linear 0.3s, opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

#reviewFormContainer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
    z-index: 1;
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
}

#reviewFormContainer.hidden {
    visibility: hidden;
    opacity: 0;
    transform: translateY(100%);
    transition: visibility 0s linear 0.3s, opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

#submitReviewButton {
    font-family: 'Nanum Gothic', sans-serif;
    position: relative;
    bottom: 7px;
}

#submitReviewButton:hover {
    background-color: #16a600;
}

#reviewText {
    font-family: 'Nanum Gothic', sans-serif;
}
